html
  head
    title #{config.application.name}
  body
    h1 #{config.application.name} version: #{config.application.version} 
    h2 endpoints:
    div
    table(cellpadding='2', cellspacing='1', border='1')
        thead
        tr: th endpoints
            th method
        tbody
        each lnk, i in links
            tr
            td 
                a(href=lnk[0], target='_blank') #{lnk[0]}
            td  #{lnk[1]}